<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/error.css' />
    </head>
    <body>
        <div style="width: 100%;display: inline-block;">
            <img src="/images/404.png" alt="404 Image" class="error-404-image">
        </div>
    </body>
</html>
