<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/header.css' />
    </head>
    <body>
        <% include ../templates/header.ejs %>
        <h1 class="page-title">Season 2</h1>
    </body>
</html>
