.character-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

.character-image {
    height: 256px;
    width: 200px;
}

.character-name {
    position: absolute;
    width: 100%;
    top: 200px;
    text-align: center;
}

.character-name-span {
    text-align: center;
    width: 100%;
    color: white;
    font: bold 16px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}