.season-container {
    height: 33%;
    width: 33%;
    display: inline-block;
    margin-bottom: 48px;
}

.season-image {
    height: 500px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.season-links-p {
    font: 24px "Roboto", Helvetica, Arial, sans-serif;
    text-align: center;
}

.season-links-a {
    color: firebrick;
    text-decoration: none;
}

.description {
    font: 16px "Roboto", Helvetica, Arial, sans-serif;
    color: lightcoral;
    margin-left: 16px;
}

.bold {
    font: 16px "Roboto-Bold", Helvetica, Arial, sans-serif;
    color: white;
    text-align: justify;
    margin-left: 16px;
}

.episode-container {
    float: left;
    margin: 16px;
    width: 95%;
    height: auto;
    color: white;
}

.episode-image {
    width: 200px;
    height: 256px;
    float: left;
    margin:16px;
}

.episode-description {
    margin-right: 32px;
    text-align: justify;
}

