.title-container{
    background: white;
    padding: 16px;
}

.title-image {
    width: auto;
    height: 48px;
    float: left;
}
.links-list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.links-list-item {
    float: left;
}

.links-list-a {
    font: 16px "Roboto", Helvetica, Arial, sans-serif;
    color: firebrick;
    display: inline-block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.links-list-item a:hover {
    background-color: #ffe;
}