body {
  background-color: black;
  margin: 0;
}

h1 {
  font: 48px "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 48px;
}

h2 {
  font: 32px "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 16px;
}
