body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: black;
  margin: 0;
}

h2 {
  color: white;
  text-align: center;
}

.title-image{
  top: 0;
  object-fit: cover;
}

.character-container{
  position: relative;
  width: 100%;
}

.character-name {
  color: white;
  text-align: center;
}

h1 {
  color: white;
}