<!DOCTYPE html>
<html>
    <head>
        <title>Characters</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/header.css' />
    </head>
    <body>
        <% include templates/header.ejs %>
        <h1 class="page-title">Characters Page</h1>
        <h2>List of Characters</h2>
        <% charactersList.forEach(function(character){ %>
        <div class="character-description-container">
            <img src="/images/<%= character.name %>.png" alt="Character Image" class="character-image">
            <p class="character-name"><%= character.name %></p>
            <p class="character-description"><%= character.description %></p>
        </div>
        <% }); %>
    </body>
</html>
