<!DOCTYPE html>
<html>
    <head>
        <title>Characters</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/header.css' />
        <link rel='stylesheet' href='/stylesheets/characters.css' />
    </head>
    <body>
        <% include templates/header.ejs %>

        <h1>Characters</h1>

        <% charactersList.forEach(function(character){ %>
        <div style="display: inline-block">
        <div class="character-container">
            <a href="/characters/<%= character.url%>">
            <img src="/images/<%= character.name %>.png" alt="Character Image" class="character-image"></a>
            <p class="character-name"><span class="character-name-span"><%= character.name %></span></p>
        </div>
        </div>
        <% }); %>
    </body>
</html>
