<!DOCTYPE html>
<html>
    <head>
        <title>Episodes</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/header.css' />
    </head>
    <body>
        <% include templates/header.ejs %>
        <h1 class="page-title">Episodes Page</h1>
        <p class="links"><a href="/episodes/season1">Season 1</a></p>
        <p class="links"><a href="/episodes/season2">Season 2</a></p>
        <p class="links"><a href="/episodes/season3">Season 3</a></p>
    </body>
</html>
