<!DOCTYPE html>
<html>
    <head>
        <title>Episodes</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/header.css' />
    </head>
    <body>
        <% include templates/header.ejs %>
        <h1>Episodes Page</h1>
    </body>
</html>
