<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/index.css' />
    </head>
    <body>
        <a href="/home"><img src="/images/welcome-image.png" alt="Welcome Image"></a>
    </body>
</html>
