<header class="title-container">
    <a href="/"><img class ="title-image" src="/images/penny-dreadful-logo.png" alt="Penny Dreadful"></a>
    <ul class="links-list">
        <li class="links-list-item"><a href="/episodes" class="links-list-a">Episodes</a></li>
        <li class="links-list-item"><a href="/characters" class="links-list-a">Characters</a></li>
        <li class="links-list-item"><a href="/about" class="links-list-a">About</a></li>
    </ul>
</header>