<header class="title-container">
    <img class ="title-image" src="/images/penny-dreadful-logo.png" alt="Penny Dreadful">
    <ul class="links-list">
       <li class="links-list-item"><a href="/" class="links-list-a">Home</a></li>
        <li class="links-list-item"><a href="/episodes" class="links-list-a">Episodes</a></li>
        <li class="links-list-item"><a href="/characters" class="links-list-a">Characters</a></li>
        <li class="links-list-item"><a href="/about" class="links-list-a">About</a></li>
    </ul>
</header>